INICIO

In [ ]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [ ]:

db_connection_str = 'mysql+pymysql://root:caio123@localhost/EcommerceAeC'

connection = mysql.connector.connect(
    host="localhost", user="root",
    password="caio123",
    database="EcommerceAeC"
)

Cadastre clientes e produtos

In [ ]:

def inserir_product(nome, quantidade, descrição, valor):
    sql = "INSERT INTO produto (produto, quantidade, descricao, valor) VALUES (%s, %s, %s, %s)"
    val = (nome, quantidade, descrição, valor)
    Cursor.execute(sql, val)
    connection.commit()
    






def inserir_client(nome, genero, idade, data_nasc):
    sql = "INSERT INTO cliente (nomeCliente, sexo, idade, dataNasc) VALUES (%s, %s, %s, %s)"
    val = (nome, genero, idade, data_nasc)
    Cursor.execute(sql, val)
    connection.commit()

# Query

In [ ]:
df = pd.read_sql("SELECT idCliente, nomeCliente FROM cliente", con=db_connection)

# Views

Produtos quase acabando

In [ ]:
view1 = pd.read_sql("SELECT nomeProduto,qtdPoduto, valueProduto FROM ProdutoFIM", con=db_connection)
print(view1)

Clientes com cashback maior que 50

In [ ]:
view2 = pd.read_sql("SELECT * FROM CashbackMaiorQ", con=db_connection)
print(view2)

Média de salário por cargo

In [ ]:
view3 = pd.read_sql("SELECT * FROM MediaSalario", con=db_connection)
print(view3)

# stored procedures

In [ ]:
df = pd.read_sql("SELECT idFuncionario, nomeFuncionario, cargoFuncionario, salarioFuncionario FROM funcionario", con=db_connection)
print(df)

Ajuste Salarial

In [ ]:
Cursor = connection.cursor()


Cargo = 'ADMINISTRADOR'  
porcentagem = 15  



Cursor.callproc('reajusteSalario', [Cargo, porcentagem])
connection.commit()

In [ ]:
df4 = pd.read_sql("SELECT * FROM venda", con=db_connection)
print(df4)

In [ ]:
df4 = pd.read_sql("SELECT idProduto, nameProduto, qtdProduto FROM produto", con=db_connection)
print(df4)

Venda

In [ ]:



idVendedor = 1
idClient = 3
idProdut = 4



Cursor.callproc('VendaDone', [idVendedor, idCliente, idProduto]) # Chamar a stored procedure
connection.commit()

Mês de maior vendas e mês de menor vendas do produto menos vendido

In [ ]:
df7 = pd.read_sql("CALL MesMaisVendaMesMenorProduto()", con=db_connection)
print(df7)

Mês de menor venda do produto menos vendido

In [ ]:
df6 = pd.read_sql("CALL MesMenosProdutoVendido()", con=db_connection)
print(df6)

 Produto menos vendido

In [ ]:
df8 = pd.read_sql("CALL ProdutoMenosVendido()", con=db_connection)
print(df8)

Sorteio de Clientes

In [ ]:
df5 = pd.read_sql("CALL SorteioCliente()", con=db_connection)
print(df5)

# Triggers

Remove cliente especial

In [ ]:
df_trigg1 = pd.read_sql("SELECT idClientEsp, NameClientEsp, CBClientEsp FROM ClientEsp", con=db_connection)
print(df_trigg1)

In [216]:
idClientEsp = 1

Cursor.execute("SELECT ResetCB(1)")

criar banco e exluir

In [ ]:
Cursor.execute("DROP DATABASE ecommerceAeC")

Cursor.execute("CREATE DATABASE IF NOT EXISTS ecommerceAeC")